.contact-container {
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #76767f;
    border-radius: 3px;
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
        cursor: pointer;
    }
    .fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: start;
        input {
            border-radius: 3px;
            border: 1px solid #76767f;
            height: 100%;
            padding-left: 5px;
        }
        input:disabled {
            background-color: antiquewhite;
        }
    }
}